* {
  font-size: border box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
}
p {
  font-size: 19px;
  text-align: justify;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #4285f4, #d96);
  -webkit-text-fill-color: #222;
  margin: 40px 0 15px;
  text-align: center;
}

.parent {
  height: 100vh;
  overflow-y: auto;
}
.main-nav {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a67f8e;
}
.contener {
  flex: 1;
  width: 100%;
  margin: auto;
  overflow-y: auto;
}
.banner {
  background-image: url(./images/bannierre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  font-size: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 5px 5px 2px pink;
}
.contenu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto 1fr;
}
.main2 {
  min-width: 150px;
  border: 3px solid white;
  border-radius: 30px;
}
.main222 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.saison {
  background-size: cover;
  width: 100%;
  height: 400px;
}
.main222 > .saison {
  flex-basis: calc(100% -60px / 4);
}
.artiste {
  background-size: cover;
  width: 100%;
  height: 200px;
}
.comingSoon {
  background-image: url(./images/commingsoon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  font-size: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 5px 5px 2px pink;
}
.saison {
  background-size: cover;
  width: 200px;
  height: 200px;
  min-width: 200px;
  border: 3px solid white;
  border-radius: 30px;
  transition: all 1s;
  font-size: 20px;
  color: aliceblue;
  text-shadow: 0 0 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.saison:hover {
  border: solid rgb(23, 23, 29);
}
.footer-container {
  background-color: #a67f8e;
}

#slogan {
  display: block;
  font-family: 10px;
  padding: 15px;
}
#logo {
  height: 100%;
  width: 20%;
}
#main-section {
  height: 100%;
  width: 40%;
  display: flex;
  padding-right: 10px;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

@media all and (max-width: 1350px) {
  .parent {
    width: 1200px;
  }
}
@media all and (max-width: 800px) {
  .parent {
    width: 700px;
  }
  .main-nav {
    height: 6%;
  }
  #logo {
    height: 80%;
    width: 20%;
  }
  .banner {
    font-size: 40px;
    color: #fffcff;
    text-shadow: 5px 5px 2px #a53860;
    justify-content: auto;
  }
}
@media all and (max-width: 570px) {
  .parent {
    width: 100%;
  }
  .main-nav {
    height: 4%;
  }
  #logo {
    height: 70%;
    width: 10%;
  }
  .banner {
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 2px purple;
    justify-content: auto;
  }
  #main-section {
    gap: 10px;
  }
}
